#content {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

#loading {
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

#results{
    padding-top: 160px;
}

.title {
    font-family: HelveticaNeue-Bold;
    font-size: 52px;
    color: #004A80;
    letter-spacing: 0;
    text-align: center;
    line-height: 70px;
    padding-bottom: 20px;
}

.title .result {
    padding-bottom: 15px !important;
    margin: 0px;
}

.subtitle {
    font-family: HelveticaNeue;
    font-size: 22px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 30px;
}

.subtitle-loading {
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    color: #004A80;
    letter-spacing: 0;
    text-align: center;
}

.subtitle-result {
    font-family: HelveticaNeue;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
}

.ball {
    background: #004A80;
    padding: 10px 36px 5px 31px;
    border-radius: 50%;
}

.ball .number {
    font-family: HelveticaNeue-Bold;
    font-size: 48px;
    color: #F6BC25;
    letter-spacing: 0;
    text-align: center;
}

.ball-title {
    font-family: HelveticaNeue-Bold;
    font-size: 22px;
    color: #004A80;
    letter-spacing: 0;
}

.ball-subtitle {
    font-family: HelveticaNeue;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
}